/* Estilos Globais e Reset */
body {
  margin: 0;
  background-color: #121212; /* Cor de fundo escura */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px 30px;
  border-bottom: 2px solid #61dafb; /* Azul claro direto aqui */
}

.navbar h2 {
  color: #61dafb;
  margin: 0;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.links a:hover {
  color: #61dafb;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  text-align: center;
  background-color: #1e1e1e; /* Fundo do card */
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}